{% extends "base.html" %}

{% block page_title %}{{ _('Invite a Mozillian') }}{% endblock %}
{% block body_id %}invite{% endblock %}

{% block content %}

  <h1>{{ _('Invite a Mozillian') }}</h1>

  <p>
    {% trans %}
      If you'd like to vouch for a new Mozillian and send an invitation to create a profile, please fill out
      this form:
    {% endtrans %}
  </p>

  {% if invite_form.errors %}
    <div class="alert alert-error">
      {{ _('Please correct the errors below.') }}
    </div>
  {% endif %}

  <div class="invite-box">
    <div class="margins">
      <form method="POST" action="{{ url('phonebook:invite') }}" autocomplete="off">
        {{ csrf() }}
        {{ mozillians_field(invite_form.recipient) }}
        {{ mozillians_field(invite_form.message) }}
        {{ mozillians_field(invite_form.reason) }}
        {% trans url='http://daringfireball.net/projects/markdown/syntax' %}
          Use <a href="{{ url }}">Markdown</a> for bold, italic, lists and links.
        {% endtrans %}
        {{ _('Characters remaining:') }}
        <span class="character-countdown">500</span>
        <div id="invitation-submit">
          <button class="button" type="submit"><i class="icon-key"></i>
            {{ _('Send invite') }}
          </button>
        </div>
        <p>
          {% trans %}
            <strong>Note:</strong>
            Your name and email will be sent to whomever you invite.
          {% endtrans %}
        </p>
        <p>
          {{ _('Only vouch for users who have made significant contributions and are at least 13 years old.') }}
        </p>
        <p>
          {{ _('Once vouched, new Mozillian will be able to:') }}
        </p>
        <ul>
          <li>{{ _('View all profiles and join groups.') }}</li>
          <li>{{ _('Access special video content on Air Mozilla.') }}</li>
          <li>{{ _('Join the Mozilla Exchange Yammer network.') }}</li>
          <li>{{ _('Use other Mozilla apps as a vouched user.') }}</li>
        </ul>
        <p>
          {{ _('Vouchers cannot be edited or retracted.') }}
          <br><br>
          {% trans vouching_faq='' %}
            <a href="{{ vouching_faq }}">Read more about vouching.</a>
          {% endtrans %}
        </p>
      </form>
    </div>
  </div>

  {% if invites.exists() %}
    <h1>{{ _('Your Invites') }}</h1>

    {% for invite in invites %}
      <div class="card">
      <ul>
        <li>
          <a title="{{ invite.recipient }}" href="mailto:{{ invite.recipient }}">
            <i class="icon-envelope-o"></i> {{ invite.recipient }}
          </a>
        </li>
        <li>
          {{ _('Sent:') }} {{ invite.created }}
        </li>
        {% if invite.redeemed %}
          <li>
            {{ _('Redeemed:') }} {{ invite.redeemed }}
          </li>
          <li>
            {{ _('Redeemer:') }}
            <a href="{{ url('phonebook:profile_view', invite.redeemer.user.username) }}">
              {{ invite.redeemer.display_name }}
            </a>
          </li>
        {% else %}
          <form action="{{ url('phonebook:delete_invite', invite_pk=invite.pk) }}" method="POST">
            {{ csrf() }}
            <button type="submit" class="button remove">{{ _('Remove') }} <i class="icon-close"></i></button>
          </form>
        {% endif %}
      </ul>
    </div>
    {% endfor %}

  {% endif %}

{% endblock %}

{% block page_js %}
  {% compress js %}
    <script src="{{ static('mozillians/js/character_limit.js') }}"></script>
  {% endcompress %}
{% endblock %}
